html {
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: anonymus ;
    font-size: 16px;
  }

#titulo {
  background-color: white; /*#DAD8A8*/
  color: #070705;
  text-align: center;
}

body {
  background-color: white;
  color: #59582F;
  /*font-family: "Inter", sans-serif;*/
}

img {
  max-width: 100%;
}

p {
  color: rgb(0, 0, 0);
}

.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}


.fs-20 {
  font-size: 20px;
}

.fs-16 {
  font-size: 16px;
}

.fs-12 {
  font-size: 12px;
}

a {
  color:#6C5C84;
}

a:hover {
  color:#BBA7D9;
}

.img-smaller{
  max-width: 10%;
}
.navbar {
  background-color: #94820a;
}
.top-header{
  height: 25px;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid rgb(183, 183, 183);
}